*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

#site{
  font-size: 10px;
}

.destaque1{
  color: #FFF;
}
.destaque2{
  color: #FFF;
}

nav ul#menu{
  background-color: #14130F;
  margin: 0px;
  padding: 0;
  position: fixed;
  width: 100%;
}

nav li{
  display: inline;
  line-height: 60px;

}

a:link, a:visited{
  font-size: 2.0em;
  text-transform: uppercase;
  text-decoration: none;
  color: #916644;
  padding: 22px;
  text-shadow: 1px 1px #000;
}

a:hover, a:active{
  background-color: #14483D;
  color: #14130F;
  text-shadow: .6px .6px #1B8D79;
}

#banner{
  background-image: url(../images/2.jpg); 
  width: 100%;
  height: 100vh;
  background-size: cover;
}

h1.destaque1{
  text-align: center;
	font-size: 6.0em;
	padding-top: 300px;
  margin: 0 0.5rem;
  animation: zoomIn; 
  animation-duration: 2s; 
}

h3.destaque2{
	text-align: center;
	font-size: 5.0em;
	margin: 0 0.5rem;
  animation: zoomInUp; 
  animation-duration: 2s; 
}

h1{
  font-size: 3em;
  padding: 30px 0;
  text-align: center;
}

#about{
  background-color: #14130F;
	height: 100vh;
	padding: 50px;
	font-size: 2.0em;
	text-align: justify;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

#gallery{
	background-color: #916644;
	height: 100vh;
	padding: 50px;
	font-size: 2.0em;
	text-align: center;
}

.galeria{
  width: 350px;
	margin: 30px;
	border-radius: 30px;
	border: 3px solid #FFF;
	box-shadow: 5px 5px 25px #000;
}

/*#maps{
  padding: 10px;
  width: max-content;
  height: max-content;
  position: static;
  
}*/

#contact{
	background-color: #0D2A28;
	height: 100vh;
	padding: 50px;
	font-size: 2.5em;
	text-align: center;
}

#contact label{
  display: block;
  margin-top: 20px;
  margin-bottom: 14px;
}

#contact input, textarea{
  width: 400px;
  border-radius: 15px;
  border: 0;
  padding: 15px;
  font-size: 1em;
}

#contact button{
  margin-top: 10px;
  display: relative;
  background-color:  #4F3D29;
  color: #14130F;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 5px 35px #0D2A28;
  margin-top: 20px;

}

#contact button:hover{
	background-color: #916644;
	color: #0D2A28;
}